@import url(https://fonts.googleapis.com/css?family=Oswald:400);

.navigation {
    background-color: black;
}

#me-image {
    display: block;
    width: 25px;
    border-radius: 50px;
    float: left;
}

.logout {
    font-size: .8em;
    font-family: 'Oswald', sans-serif;
    position: relative;
    right: -18px;
    bottom: -4px;
    overflow: hidden;
    letter-spacing: 3px;
    opacity: 0;
    transition: opacity .45s;
    -webkit-transition: opacity .35s;

}

.button {
    text-decoration: none;
    float: right;
    color: white;
    width: 25px;
    padding: 12px 30px 12px 12px;
    margin: 15px;
    background-color: coral;
    transition: width .35s;
    -webkit-transition: width .35s;
    overflow: hidden
}

.button:hover {
    width: 120px;
}

.button:hover .logout {
    opacity: .9;
}

.button {
    text-decoration: none;
}

#mid-content-suggest {
    max-width: 960px;
    min-height: calc(100vh - 130px - 20px);
    margin: 0 auto 50px;
    align-items: center;
    padding-top: 200px;
}

#product-suggest {
    min-width: 720px;
    display: flex;
    overflow: hidden;
}

#product-suggest-container {
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: center;
    flex-wrap: nowrap;
}

.product {
    margin-left: 20px;
}

#left-arrow {
    width: 20px;
    height: 100px;
    margin-top: 140px;
    margin-right: 10px;
    filter: invert(65%) sepia(44%) saturate(2335%) hue-rotate(323deg) brightness(100%) contrast(112%);
}

#scroller {
    margin-top: 20px;
    display: flex;
    justify-items: center;
    justify-content: center;
}

#right-arrow {
    width: 20px;
    height: 100px;
    margin-top: 140px;
    margin-left: 20px;
    filter: invert(65%) sepia(44%) saturate(2335%) hue-rotate(323deg) brightness(100%) contrast(112%);
}

#suggestion {
    margin-top: 100px;
    display: none;
}

#suggestion h2 {
    margin-left: 60px;
    color: coral;
}

#history {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#history-part {
    margin-top: 50px;
    display: flex;
    flex-flow: column;
}

#history-part h2 {
    margin-left: 50px;
    margin-bottom: 10px;
    color: coral;
}

@media (max-width: 900px) {
    #mid-content-suggest {
        max-width: 800px;
        min-height: calc(100vh - 130px - 20px);
        margin: 0 auto 50px;
        align-items: center;
        padding-top: 200px;
    }

    #product-suggest {
        min-width: 600px;
    }
}

@media (max-width: 800px) {
    #mid-content-suggest {
        max-width: 650px;
        min-height: calc(100vh - 130px - 20px);
        margin: 0 auto 50px;
        align-items: center;
        padding-top: 200px;
    }

    #product-suggest {
        min-width: 500px;
    }
}

@media (max-width: 580px) {
    #mid-content-suggest {
        max-width: 450px;
        min-height: calc(100vh - 130px - 20px);
        margin: 0 auto 50px;
        align-items: center;
        padding-top: 200px;
    }

    #product-suggest {
        min-width: 400px;
    }

    #left-arrow {
        display: none;
    }

    #right-arrow {
        display: none;
    }
}

@media (max-width: 400px) {
    #mid-content-suggest {
        max-width: 300px;
        min-height: calc(100vh - 130px - 20px);
        margin: 0 auto 50px;
        align-items: center;
        padding-top: 200px;
    }

    #product-suggest {
        min-width: 300px;
    }

    #left-arrow {
        display: none;
    }

    #right-arrow {
        display: none;
    }
}