* {
    font-family: "Open Sans", sans-serif;
}
#homepage {
    width: 1200px;
    border-color: coral;
    border-width: 0.01em;
    border-style: solid;
    text-align: left;
    margin: 0 auto 50px;
}
#mid-content {
    max-width: 960px;
    text-align: left;
    margin: 0 auto 50px;
    padding-top: 150px;
}
#categories-frame{
    display: flex;
}
#categories {
    display: flex;
    width: 100%;
    margin-top: 10px;
    flex-direction: column;
    justify-content: center;
}

#newsDiv {
    height: 300px;
    margin-top: -10px;
}

#newsDiv li {
    display: flex;
    justify-content: space-between;
    margin-top: 3px;
    color: coral;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 3px 3px rgba(255, 95, 35, 0.15);
    box-shadow: 0 0 3px 3px rgba(255, 95, 35, 0.15);
}

#end-part {
    display: flex;
    width: 100%;
    margin-top: 40px;
    flex-direction: row;
    justify-content: space-evenly;
}
#end-part-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: coral;
    color: white;
    border-color: rgba(255, 95, 35, 0.15);
    border-style: solid;
    /*
    -webkit-box-shadow: 0 0 5px 5px rgba(255, 95, 35, 0.15);
    box-shadow: 0 0 5px 5px rgba(255, 95, 35, 0.15);
    */
}
#end-part-elements {
    display: flex;
    width: 65%;
    flex-direction: column;
}
#ad-image {
    height: 320px;
    width: 300px;
}
#most-viewed {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-bottom: 30px;
}
#most-views {
    min-width: 720px;
    display: flex;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}
#most-views::-webkit-scrollbar {
         display: none;
}
#most-view-container {
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: center;
    flex-wrap: nowrap;
    -webkit-overflow-scrolling: touch;
}
#most-view-container .product {
    min-height: 300px;
    max-height: 300px;
}
.product {
    margin-left: 20px;
}
#left-arrow {
    width: 20px;
    height: 100px;
    margin-top: 100px;
    margin-right: 10px;
    filter: invert(65%) sepia(44%) saturate(2335%) hue-rotate(323deg) brightness(100%) contrast(112%);
}
#right-arrow {
    width: 20px;
    height: 100px;
    margin-top: 100px;
    margin-left: 20px;
    filter: invert(65%) sepia(44%) saturate(2335%) hue-rotate(323deg) brightness(100%) contrast(112%);
}

#popular-heading {
    margin-top: 30px;
    margin-left: 40px;
    color: coral;
}

#category-nav-list {
    list-style-type: none;
    display: flex;
    flex-flow: row;
    margin-top: 30px;
}

#first-category {
    border-style: solid;
    border-color: rgba(255, 95, 35, 0.50);
    text-align: center;
    border-width: 0.01em;
    color: coral;
    border-radius: 10px;
    height: 45px;
    width: 15%;
    padding: 10px;
    margin: 5px;
}

#second-category {
    border-style: solid;
    text-align: center;
    border-width: 0.01em;
    border-color: rgba(255, 95, 35, 0.50);
    color: coral;
    border-radius: 10px;
    height: 45px;
    width: 15%;
    padding: 10px;
    margin: 5px;
}

#third-category {
    border-style: solid;
    text-align: center;
    border-width: 0.01em;
    border-color: rgba(255, 95, 35, 0.50);
    color: coral;
    border-radius: 10px;
    height: 45px;
    width: 15%;
    padding: 10px;
    margin: 5px;
}

#fourth-category {
    border-style: solid;
    text-align: center;
    border-width: 0.01em;
    border-color: rgba(255, 95, 35, 0.50);
    color: coral;
    border-radius: 10px;
    height: 45px;
    width: 15%;
    padding: 10px;
    margin: 5px;
}

.selected-category {
    background-color: coral;
    color: white;
    height: 40px;
    width: 15%;
    font-weight: 600;
}

#category-container {
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#category-panel {
    width: 100%;
    display: flex;
    justify-content: center;

}
#category-panel .product {
    margin-top: 10px;
}

@media (max-width: 1000px) {
    #most-views{
        min-width: 700px;
    }
}

@media (max-width: 900px) {
    #most-views{
        min-width: 700px;
    }
}

@media (max-width: 780px) {
    #ad-image {
        display: none;
    }
    #most-views{
        min-width: 400px;
    }
}

@media (max-width: 570px) {
    #most-views{
        min-width: 400px;
    }
}

@media (max-width: 400px) {
    #ad-image {
        display: none;
    }
    #most-views{
        min-width: 300px;
    }
    #third-category{
        display: none;
    }
    #newsDiv p {
        display: none;
    }
    #first-category{
        width: 30%;
    }
    #second-category{
        width: 30%;
    }
    #fourth-category{
        width: 30%;
    }
    #left-arrow {
        display: none;
    }

    #right-arrow {
        display: none;
    }
}