body::-webkit-scrollbar {
    width: 0.2em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: coral;
    outline: 1px solid coral;
}
#homepage{
    width: 1200px;
    border-color: coral;
    border-width: 0.01em;
    border-style: solid;
    text-align: left;
    margin: 0 auto 50px;

}
#mid-content{
    max-width: 960px;
    text-align: left;
    margin: 0 auto 50px;
}
#categories{
    display: flex;
    width: 100%;
    margin-top: 10px;
    flex-direction: column;
    justify-content: space-evenly;
}
#newsDiv{
    height: 300px;
    margin-top: -10px;
}
#newsDiv li{
    display: flex;
    justify-content: space-between;
    margin-top: 3px;
    color: coral;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 3px 3px rgba(255, 95, 35, 0.15);
    box-shadow: 0 0 3px 3px rgba(255, 95, 35, 0.15);
}
#end-part{
    display: flex;
    width: 100%;
    margin-top: 40px;
    flex-direction: row;
    justify-content: space-evenly;
}
#end-part-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: coral;
    color: white;
    border-color: rgba(255, 95, 35, 0.15);
    border-style: solid;
    /*
    -webkit-box-shadow: 0 0 5px 5px rgba(255, 95, 35, 0.15);
    box-shadow: 0 0 5px 5px rgba(255, 95, 35, 0.15);
    */

}
#end-part-elements{
    display: flex;
    width: 65%;
    flex-direction: column;
}
#ad-image{
    height: 300px;
    width: 300px;
    border-color: coral;
    border-style: dotted;
}
#most-view-container{
    min-width: 925px;
    display: flex;
    border-color: coral;
    overflow-x: auto;
    overflow-y: hidden;
    color: #5e5e5e;
    height: 300px;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
#most-view-container::-webkit-scrollbar {
    display: none;
}
.product {
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    padding: 5px;
    border-radius: 5px;
    background: white;
    -webkit-box-shadow: 0 0 20px 5px rgba(255, 95, 35, 0.15);
    box-shadow: 0 0 20px 5px rgba(255, 95, 35, 0.15);
    min-width: 215px;
    color: coral;
    min-height: 270px;
    max-height: 270px;
    margin: 15px auto 15px 15px;
    overflow: hidden;
    cursor: pointer;
}

.product:hover {
    box-shadow: 0 0 20px 5px rgba(255, 95, 35, 0.25);
    transition: all 0.2s ease;
}

.image {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    min-height: 150px;
    max-height: 150px;
    max-width: 200px;
}
.rating{
    font-size: 10px;
}
.title, .price, .offers,.rating {
    text-align: center;
}
.on:before, .off:before {
    font-size: 1.5rem;
}

.on {
    color: orange;
    font-size: 10px;
}
.off {
    font-size: 10px;
    color: #ddd;
}
#most-viewed{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}
#left-arrow{
    width: 20px;
    height: 100px;
    margin-right: 10px;
    margin-top: 100px;
    filter: invert(65%) sepia(44%) saturate(2335%) hue-rotate(323deg) brightness(100%) contrast(112%);
}
#right-arrow{
    width: 20px;
    height: 100px;
    margin-left: 10px;
    margin-top: 100px;
    filter: invert(65%) sepia(44%) saturate(2335%) hue-rotate(323deg) brightness(100%) contrast(112%);
}
#popular-heading{
    margin-top: 30px;
    margin-left: 40px;
    color: coral;
}
#category-nav-list{
    list-style-type:none;
    display: flex;
    flex-flow: row;
    margin-top: 30px;
}
#first-category{
    border-style: solid;
    border-color: rgba(255, 95, 35, 0.50);
    text-align: center;
    border-width: 0.01em;
    width: 15%;
    color: coral;
}
#second-category{
    border-style: solid;
    width: 15%;
    text-align: center;
    border-width: 0.01em;
    border-color: rgba(255, 95, 35, 0.50);
    color: coral;
}
#third-category{
    width: 15%;
    border-style: solid;
    text-align: center;
    border-width: 0.01em;
    border-color: rgba(255, 95, 35, 0.50);
    color: coral;
}
#fourth-category{
    width: 15%;
    border-style: solid;
    text-align: center;
    border-width: 0.01em;
    border-color: rgba(255, 95, 35, 0.50);
    color: coral;
}
.selected-category{
    background-color: coral;
    color: white;
}
#category-container{
    margin-right: 10px;
    margin-top: 50px;
    display: flex;
    flex-flow: row;
    width: 100%;
    height: 100%;
}
#category-panel{
    width: 100%;
    height: 400px;
    border-style: solid;
    border-width: 0.01em;
    border-color: rgba(255, 95, 35, 0.50);
    display: flex;
    justify-content: center;

}

@media (max-width: 1000px) {

    #most-view-container{
        min-width: 700px;
        max-width: 750px;
    }
    #category-panel{
        min-width: 700px;
        overflow: auto;
        max-width: 750px;
    }
    #category-panel::-webkit-scrollbar {
        width: 0.2em;
    }

    #category-panel::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }

    #category-panel::-webkit-scrollbar-thumb {
        background-color: coral;
        outline: 1px solid coral;
    }
    #categories{
        max-width: 700px;
        margin-left: 15%;
    }

}
@media (max-width: 900px) {
    #most-view-container{
        min-width: 700px;
        max-width: 750px;
    }
    #category-panel{
        min-width: 700px;
        overflow: auto;
        max-width: 750px;
    }
    #category-panel::-webkit-scrollbar {
        width: 0.2em;
    }

    #category-panel::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }

    #category-panel::-webkit-scrollbar-thumb {
        background-color: coral;
        outline: 1px solid coral;
    }
    #categories{
        max-width: 700px;
        margin-left: 10%;
    }

}

@media (max-width: 780px) {
    #ad-image{
        display: none;
    }
    #most-view-container{
        min-width: 400px;
        max-width: 450px;
    }
    #category-panel{
        min-width: 400px;
        overflow: auto;
        max-width: 450px;
    }
    #category-panel::-webkit-scrollbar {
        width: 0.2em;
    }

    #category-panel::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }

    #category-panel::-webkit-scrollbar-thumb {
        background-color: coral;
        outline: 1px solid coral;
    }
    #first-category{
        width: 100px;
    }
    #second-category{
        width: 100px;
    }
    #third-category{
        width: 100px;
    }
    #fourth-category{
        width: 100px;
    }
    #categories{
        max-width: 400px;
        margin-left: 20%;
    }
}

@media (max-width: 570px) {
    #categories{
        max-width: 400px;
        margin-left: 10%;
    }
}
@media (max-width: 570px) {
    #categories{
        max-width: 400px;
        margin-left: 5%;
    }
}
@media (max-width: 400px) {
    #ad-image{
        display: none;
    }
    #most-view-container{
        min-width: 300px;
        max-width: 350px;
    }
    #category-panel{
        min-width: 370px;
        overflow: auto;
        max-width: 350px;
    }
    #category-panel::-webkit-scrollbar {
        width: 0.2em;
    }

    #category-panel::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }

    #category-panel::-webkit-scrollbar-thumb {
        background-color: coral;
        outline: 1px solid coral;
    }
    #first-category{
        width: 100px;
    }
    #second-category{
        width: 100px;
    }
    #third-category{
        width: 100px;
    }
    #fourth-category{
        width: 100px;
    }
    #categories{
        max-width: 300px;
        margin-left: 0px;
    }
    #newsDiv p{
        display: none;
    }
    #left-arrow{
        display: none;
    }
    #right-arrow{
        display: none;
    }
}