.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    min-height: calc(100vh - 130px - 20px);
    margin-top: 130px;
}

.categories {
    position: fixed;
    width: 1fr;
    list-style: none;
}

.category:hover {
    cursor: pointer;
}

.products {
    grid-column-start: 2;
}

.product {
    position: relative;
    width: 250px;
    height: 350px;
    margin: 15px auto;
    padding: 5px;
    border-radius: 10px;
    background: white;
    -webkit-box-shadow: 0 0 20px 5px rgba(255, 95, 35, 0.15);
    box-shadow: 0 0 20px 5px rgba(255, 95, 35, 0.15);
    color: #5e5e5e;
    overflow: hidden;
}

.product:hover {
    box-shadow: 0 0 20px 5px rgba(255, 95, 35, 0.25);
    transition: all 0.2s ease;
}

.image {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.title {
    margin-top: 30px;
}

.title, .price, .offers {
    text-align: center;
}

.price {
    margin-top: 5px;
}

.offers {
    margin-top: 5px;
    font-size: 14px;
}

.rating {
    display: inline-flex;
}

.on:before, .off:before {
    font-size: 1.5rem;
}

.on {
    color: orange;
}

.off {
    color: #ddd;
}
