.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 350px;
    border-radius: 10px;
    background: white;
    text-align: center;
    -webkit-box-shadow: 0 0 20px 5px rgba(180, 180, 180, 0.15);
    box-shadow: 0 0 20px 5px rgba(180, 180, 180, 0.15);
    color: #5e5e5e;
    overflow: hidden;
}

.product:hover {
    box-shadow: 0 0 20px 5px rgba(180, 180, 180, 0.45);
    transition: all 0.2s ease;
}

.image {
    cursor: pointer;
}

.image:hover {
    transform: scale(1.3);
    transform-origin: 50% 50%;
}

.title {
    padding-top: 15px;
    max-width: 220px;
    color: rgb(50, 50, 50);
    cursor: pointer;
}

.title:hover{
    font-weight: bold;
}

a {
    text-decoration: none;
}

.rating, .price {
    padding-top: 10px;
    font-weight: bold;
    color: coral;
}

.offers {
    padding-top: 5px;
    font-size: 14px;
    color: #005eb8;
}

.on:before, .off:before {
    font-size: 1.5rem;
}

.on {
    color: orange;
}

.off {
    color: #ddd;
}
