html{
    scroll-behavior: smooth;
}

.container {
    display: grid;
    gap: 1rem;
    grid-template-columns: 2fr 20fr 1fr;
    min-height: calc(100vh - 130px - 20px);
    margin-top: 130px;
    color: #5e5e5e;
}

.categories {
    display: grid;
    grid-column-start: 1;
    position: sticky;
    top: 130px;
    list-style: none;
}

.category:hover {
    cursor: pointer;
}

.sort-text {
    display: inline-grid;
}

.sort-box {
    display: inline-grid;
}

.selected-option {
    position: relative;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    border-color: rgb(230, 230, 230);
    margin-bottom: 8px;
    width: 200px;
    background: rgb(250, 250, 250);
    order: 0;
}

.arrow {
    display: inline;
    position: absolute;
    height: 10px;
    width: 10px;
    top: 15px;
    right: 20px;
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: rgb(150, 150, 150);
    transform: rotate(45deg);
    transition: all 0.2s ease;
}

.arrow:hover {
    border-right-width: 2px;
    border-bottom-width: 2px;
}

.options {
    max-height: 0;
    opacity: 0;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    border-color: rgb(230, 230, 230);
    width: 200px;
    background: rgb(250, 250, 250);
    overflow: hidden;
    transition: all 0.3s ease;
    order: 1;
}

.option, .selected-option {
    padding: 10px 20px;
    padding: 10px 20px;
}

.selected-option, .sort-box label {
    cursor: pointer;
}

.radio {
    display: none;
}

.arrow.active {
    top: 20px;
    transform: rotate(225deg);
}

.options.active {
    max-height: 85px;
    opacity: 1;
    overflow-y: scroll;
    z-index: 1;
}

.options::-webkit-scrollbar {
    width: 8px;
    background: rgb(230, 230, 230);
    border-radius: 0 7px 7px 0;
}

.options::-webkit-scrollbar-thumb {
    background: rgb(210, 210, 210);
    border-radius: 0 7px 7px 0;
}

.selected-option:hover {
    background: rgb(230, 230, 230);
}

.option:hover {
    background: rgb(235, 235, 235);
}

.products {
    margin-top: -200px;
    display: grid;
    gap: 1rem;
    grid-row-start: 2;
    grid-column-start: 2;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    margin-bottom: 1rem;
}

.gotopbtn img{
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 30px;
    right: 30px;
    filter: brightness(100%);
}

.gotopbtn:hover img{
    filter: brightness(90%);
}


