.products {
    padding-top: 20px
}

.container {
    margin-top: 40px;
}

#no-found-message {
    padding-top: 200px;
    display: none;
    width: 100%;
    text-align: center;
    color: coral;
}

#found-message {
    padding-top: 150px;
    display: none;
    width: 100%;
    text-align: center;
    color: coral;
}