/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

.navigation-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    height: 125px;
    color: coral;
}

.logo {
    width: 200px;
    cursor: pointer;
}

.search-box {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 40%;
    height: 40px;
    border: 1px solid coral;
    border-radius: 40px;
}

.search-text {
    border: none;
    background: none;
    outline: none;
    width: 90%;
    height: 37px;
    padding-left: 10px;
    color: #5e5e5e;
    font-size: 16px;
}

.search-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    float: right;
    margin-top: -1px;
    margin-right: -1px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-decoration: none;
    background-color: coral;
    color: white;
}

.search-button:hover {
    opacity: 0.75;
}

.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 20px;
    cursor: pointer;
}

.navigation-bar-links li {
    list-style: none;
}

.navigation-bar-links li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1em;
    text-decoration: none;
    color: coral;
}

.navigation-bar-links li:hover {
    background-color: peachpuff;
}

.menu-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.search-icon {
    display: none;
    padding-right: 0.5em;
    font-size: 20px;
    text-decoration: none;
    color: coral;
    cursor: pointer;
}

.search-icon:hover {
    opacity: 0.75;
}

.hamburger-menu {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    align-content: center;
    right: 1em;
    width: 30px;
    height: 21px;
    cursor: pointer;
}

.hamburger-menu:hover {
    opacity: 0.75;
}

.hamburger-menu span {
    width: 30px;
    height: 3px;
    background-color: coral;
    -webkit-transition: 0.4s ease;
    -o-transition: 0.4s ease;
    transition: 0.4s ease;
}

.horizontal-line {
    border: 1px solid coral;
}

@media (max-width: 1000px) {
    .search-box {
        width: 50%;
    }

    .search-text {
        width: 85%;
    }

    .hamburger-menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .hamburger-menu.active span:nth-child(1) {
        -webkit-transform: translateY(9px) rotate(315deg);
        -ms-transform: translateY(9px) rotate(315deg);
        transform: translateY(9px) rotate(315deg);
    }

    .hamburger-menu.active span:nth-child(2) {
        -webkit-transform: translateY(-9px) rotate(45deg);
        -ms-transform: translateY(-9px) rotate(45deg);
        transform: translateY(-9px) rotate(45deg);
    }

    .hamburger-menu.active span:nth-child(3) {
        display: none;
    }

    .menu {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100%;
    }

    .navigation-bar-links {
        display: none;
        width: 100%;
    }

    .navigation-bar-links li {
        text-align: center;
    }

    .navigation-bar-links li a {
        padding: 0.5em 1em;
    }

    .navigation-bar-links.active {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}

@media (max-width: 700px) {
    .menu-icons {
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
        order: 0;
    }
    .search-box {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }
    .search-icon {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .search-box {
        display: none;
        width: 75%;
    }

    .search-box.active {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}

