body {
    max-width: 300px;
    max-height: 300px;
}

body::-webkit-scrollbar {
    width: 8px;
    background: rgb(230, 230, 230);
}

body::-webkit-scrollbar-thumb {
    background: rgb(210, 210, 210);
}

#most-view-container {
    min-width: 300px;
    display: flex;
    border-color: coral;
    overflow-x: auto;
    overflow-y: hidden;
    color: #5e5e5e;
    height: 300px;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

#most-view-container::-webkit-scrollbar {
    display: none;
}

* {
    font-family: "Open Sans", sans-serif;
}

.product {
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    padding: 5px;
    border-radius: 5px;
    background: white;
    -webkit-box-shadow: 0 0 20px 5px rgba(255, 95, 35, 0.15);
    box-shadow: 0 0 20px 5px rgba(255, 95, 35, 0.15);
    min-width: 215px;
    color: coral;
    min-height: 270px;
    max-height: 270px;
    margin: 15px auto 15px 15px;
    overflow: hidden;
    cursor: pointer;
}

.product:hover {
    box-shadow: 0 0 20px 5px rgba(255, 95, 35, 0.25);
    transition: all 0.2s ease;
}

.image {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    min-height: 150px;
    max-height: 150px;
    max-width: 200px;
}

.rating {
    font-size: 10px;
}

.title {
    max-height: 50px;
    color: rgb(50, 50, 50);
    cursor: pointer;
    text-overflow: ellipsis;
}

.title, .price, .offers, .rating {
    text-align: center;
}

a {
    text-decoration: none;
}

.offers {
    font-size: 14px;
    color: #005eb8;
}

.on:before, .off:before {
    font-size: 1.5rem;
}

.on {
    color: orange;
    font-size: 10px;
}

.off {
    font-size: 10px;
    color: #ddd;
}

#most-viewed {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

#left-arrow {
    width: 20px;
    height: 100px;
    margin-right: 10px;
    margin-top: 100px;
    filter: invert(65%) sepia(44%) saturate(2335%) hue-rotate(323deg) brightness(100%) contrast(112%);
}

#right-arrow {
    width: 20px;
    height: 100px;
    margin-left: 10px;
    margin-top: 100px;
    filter: invert(65%) sepia(44%) saturate(2335%) hue-rotate(323deg) brightness(100%) contrast(112%);
}