*{
    background-color: wheat;
}
.scrolling-wrapper {
    white-space: nowrap;
    height: 200px;
    width: 100%;

    overflow-x: scroll;
    overflow-y: hidden;

}
.scrolling-wrapper::-webkit-scrollbar {
    display: none;
}
.scrolling-wrapper {
    -ms-overflow-style: none;
}

body{
    overflow: hidden;
}
.card {
    display: inline-block;
    background-color: coral;
    width: 100%;
    height: 100%;
}