/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    z-index: 0;
}

body {
    width: 450px;
    height: 400px;
    overflow: auto;
    min-width: 400px;
    min-height: 350px;
}

header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    height: 35px;
}

.logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    float: left;
    margin-top: -15px;
    width: 100px;
    height: 70px;
    cursor: pointer;
}

.search-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    float: right;
    width: 280px;
    height: 30px;
    border: 1px solid coral;
    border-radius: 40px;
}

#search-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: -1px;
    margin-left: 50px;
    margin-right: -1px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: coral;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

#search-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    float: left;
    margin-top: -4px;
    padding-left: 10px;
    width: 200px;
    height: 35px;
    border: none;
    outline: none;
    background: none;
    font-size: 15px;
    color: #5e5e5e;
    -webkit-transition: 0.4s ease;
    -o-transition: 0.4s ease;
    transition: 0.4s ease;
}

.simple-line {
    width: 100%;
    height: 2px;
    margin-top: 10px;
    background-color: coral;
}

.big-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 25px;
    padding: 0;
    font-size: 15px;
    cursor: pointer;
}

.navigation-bar-links li {
    list-style: none;
}

.navigation-bar-links li a {
    padding: 1rem;
    color: coral;
    text-decoration: none;
}

.navigation-bar-links li:hover {
    background-color: peachpuff;
}

#content {
    max-height: 350px;
    overflow: auto;
}

#loading {
    position: fixed;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    top: 50%;
    left: 43%;
    background-color: white;
}

footer {
    position: fixed;
    width: 100%;
    margin: auto;
    bottom: 0;
    text-align: center;
    background-color: white;
}

.simple-footer-line {
    width: 100%;
    height: 1px;
    background-color: coral;
}

.copyright-text {
    font-size: 14px;
    color: #5e5e5e;
}
